/* Cookie CSS
---------------------------------------- */
/* This all Settings for The Klaro Box. Please Attention for Change */
.klaro .cookie-modal .cm-modal .cm-header .hide {
	display: inline-block !important;
}

.cm-list-title {
	color: #33CCFF;
}

.klaro .cookie-modal-notice .cn-ok {
	display: inherit !important;
	margin-top: 0 !important;
	text-align: center !important;
}

.klaro .cookie-modal .cm-btn, .klaro .context-notice .cm-btn, .klaro .cookie-notice .cm-btn {
	margin-bottom: 1em !important;
}

.klaro .cookie-modal a strong, .klaro .cookie-notice a strong {
	color: #00CC66;
	text-decoration: underline;
}

p.cm-list-description span {
	color: #ACA3A3;
	font-size: 14px;
}

.context-notice {
	background-color: #333333 !important;
}

.context-notice p {
	color: #FFF !important;
}

.btn.btn-primary {
	cursor: pointer;
}

.cm-header h1.title span {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.cm-caret a:before {
	font-family: FontAwesome;
	content: "\f0dc";
	font-size: 15px;
}

.cm-caret span {
	display: none !important;
}

/* Button Accept all */
.cm-btn.cm-btn-success {
	background-color: #079A51 !important;
}

/* Button Permit permanently */
.cm-btn.cm-btn-success-var {
	background-color: #1DAE83 !important;
}

/* Button Accept selected */
.klaro .cookie-modal .cm-btn.cm-btn-info, .klaro .context-notice .cm-btn.cm-btn-info, .klaro .cookie-notice .cm-btn.cm-btn-info {
	background-color: #2581C4 !important;
}

/* Service activated */
.klaro .cookie-modal .cm-list-input:checked+.cm-list-label .slider, .klaro .context-notice .cm-list-input:checked+.cm-list-label .slider, .klaro .cookie-notice .cm-list-input:checked+.cm-list-label .slider {
	background-color: #00CC66 !important;
}

/* Button slider */
.klaro .cookie-modal .cm-list-label .slider::before, .klaro .context-notice .cm-list-label .slider::before, .klaro .cookie-notice .cm-list-label .slider::before {
	background-color: #FFF !important;
}

.klaro .cookie-modal .cm-list-title, .klaro .context-notice .cm-list-title, .klaro .cookie-notice .cm-list-title {
	font-size: 1em !important;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-service span.cm-opt-out, .klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-service span.cm-required, .klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-purpose span.cm-opt-out, .klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-purpose span.cm-required {
	color: #999999 !important;
	padding-left: 6px !important;
}

.klaro .cookie-modal .cm-list-input.only-required+.cm-list-label .slider, .klaro .context-notice .cm-list-input.only-required+.cm-list-label .slider, .klaro .cookie-notice .cm-list-input.only-required+.cm-list-label .slider {
	background-color: #00CC66 !important;
}

/* Service deactivated */
.klaro .cookie-modal .cm-list-label .slider, .klaro .context-notice .cm-list-label .slider, .klaro .cookie-notice .cm-list-label .slider {
	background-color: #C5C4C4 !important;
}

.klaro .cookie-modal a, .klaro .context-notice a, .klaro .cookie-notice a {
	color: #00CC66 !important;
}

.klaro .cookie-modal .cm-modal .cm-footer .cm-powered-by a {
	color: #999999 !important;
}

/*
* thie settings for the fontawesome icon and the SVG Icon for the Box
*/
.cok_nav {
	padding: 1px;
	font-size: 12px;
}

.cok_men {
	padding-right: 20px;
	font-size: 24px;
}

#cookie_svg {
	content: url(./image/cookie.svg);
	text-shadow: none;
	margin-right: 15px;
	margin-bottom: -25px;
}

@media (max-width: 600px) {
	#cookie_svg {
		display: none;
	}
}

/*
* These settings are for formatting the information boxes of each switch. This formatting and the html code for the info boxes are in the cookie.php file.
*/
.collapsible_summary {
	cursor: pointer;
	text-decoration: underline solid #00cc66;
}

.cookie_arrow {
	color: #00cc66 !important;
	text-decoration: underline solid #00cc66;
}


.cookie_tbody {
	background-color: inherit;
	border: 3px solid #61676d;
	word-break: break-word;
}

.cookie_tr {
	border-bottom: 1px solid #61676d;
}

.cookie_th {
	color: #33CCFF !important;
	padding: 5px;
	width: 30%;
}

.cookie_label {
	color: #ACA3A3 !important;
}

.cookie_td {
	padding: 5px;
	width: 70%;
}
