/* This CSS file is only used to format the div container, which outputs a language variable with a text message if a user calls up the forum and Java is not activated in the browser. */
.nojava {
	margin: auto auto 5px auto !important;
	display: block;
	border: 2px solid #000;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	font-weight: bolder;
	font-size: 14px !important;
}

@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
	.nojava {
		margin: 4px 12px !important;
	}
}

@media (max-width: 700px) {
	.nojava {
		font-weight: normal;
		font-size: 12px !important;
		border: 3px solid #000;
		display: block;
		border-radius: 0px !important;
		margin: 0px !important;
	}
}
