/* This hides the div container created with the Youtube BBcode in the post. This is to avoid wasting space unnecessarily. */
.yt_video_layer {
	display: none;
}

/* This formatting using css an info box that is only displayed instead of the actual video. The text of which can be created and output via the corresponding language file, especially for this BBcode. */
.yt_video_switch_false {
	border: 2px solid #000000;
	padding: 25px;
	text-align: center;
	font-weight: bold;
	color: #FF0000;
	font-size: 19px;
	background-color: #FFA500;
	margin: 5px 0px;
}
