{% INCLUDECSS 'css/chris1278_cookie_acp.css' %}
{% include 'overall_header.html' %}

	<h1>{{ lang('ACP_COOKIE_SWITCHES') }}</h1>
	<p>{{ lang('ACP_CM_SETTINGS_PAGE_TITLE_EXPLAIN') }}</p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}
<h2 class="cookie-set-title">{{ lang('ACP_CM_SWITCH_SET_TITLE') }}</h2>
<form id="cookie_switches" name="cookie_switches" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<dl id="youtube_bbcode_switch">
			<dt><label for="youtube_bbcode_switch">{{ lang('YOUTUBE_BBCODE_SWITCH') ~ lang('COLON') }}</label><br /><span>{{ lang('YOUTUBE_BBCODE_SWITCH_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="youtube_bbcode_switch" value="1" {% if YOUTUBE_BBCODE_SWITCH %}checked="checked" {% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="youtube_bbcode_switch" value="0" {% if not YOUTUBE_BBCODE_SWITCH %}checked="checked" {% endif %}/> {{ lang('NO') }}</label>
			</dd>
		</dl>
		
		<dl id="google_translator_switch">
			<dt><label for="google_translator_switch">{{ lang('GOOGLE_TRANSLATOR_SWITCH') ~ lang('COLON') }}</label><br /><span>{{ lang('GOOGLE_TRANSLATOR_SWITCH_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="google_translator_switch" value="1" {% if GOOGLE_TRANSLATOR_SWITCH %}checked="checked" {% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="google_translator_switch" value="0" {% if not GOOGLE_TRANSLATOR_SWITCH %}checked="checked" {% endif %}/> {{ lang('NO') }} </label>
			</dd>
		</dl>
		
		<dl id="google_analytics_no_tm_switch" onchange="cookiedimmer.setConfig()">
			<dt><label for="google_analytics_no_tm_switch">{{ lang('GOOGLE_ANALYTICS_NO_TAGMANAGER') ~ lang('COLON') }}</label><br /><span>{{ lang('GOOGLE_ANALYTICS_NO_TAGMANAGER_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="google_analytics_no_tm_switch" value="1" {% if GOOGLE_ANALYTICS_NO_TM_SWITCH %}checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" id="google_analytics_no_tm_switch_0" name="google_analytics_no_tm_switch" value="0" {% if not GOOGLE_ANALYTICS_NO_TM_SWITCH %}checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	
		<dl id="dim_google_analytics_id">
			<dt><label for="google_analytics_id">{{ lang('GOOGLE_ANALYTICS_ID') ~ lang('COLON') }}</label><br /><span>{{ lang('GOOGLE_ANALYTICS_ID_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="text" name="google_analytics_id" id="google_analytics_id" maxlength="255" size="40" value="{{ GOOGLE_ANALYTICS_ID }}" placeholder=" {{ lang('ACP_GOOGLE_ANALYTICS_ID') }}" /></label>
			</dd>
		</dl>
		
	</fieldset>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
	</p>

	{S_FORM_TOKEN}
	<p class="chris1278_acp_copyright">
		{{ CM_EXT_NAME }} &copy; Chris1278<br />
		{{ lang('CM_LANG_DESC') }} {{ lang('CM_LANG_EXT_VER') }} &bull; {{ lang('CM_LANG_AUTHOR') }}
	</p>
</form>

<script>
	var cookiedimmer= {};
</script>

{% INCLUDEJS 'acp_cookiedimmer.js' %}
{% include 'overall_footer.html' %}
