{% if GOOGLE_ANALYTICS_NO_TM_SWITCH %}
<!-- Start Global site tag (gtag.js) - Google Analytics -->
<script type="text/plain" data-type="application/javascript" async data-src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}" data-name="g-analytics"></script>
<script type="text/plain" data-type="application/javascript"data-name="g-analytics">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
</script>
<!-- End Global site tag (gtag.js) - Google Analytics -->
{% endif %}
