{# These are all files that are required to control the Cookie Manager. #}
{% INCLUDE '@chris1278_cookie/cookie_opt_in_variablen.html' %}
{% INCLUDEJS '@chris1278_cookie/thirdparty/config.js' %}
{% INCLUDEJS '@chris1278_cookie/thirdparty/klaro.js' %}
{% INCLUDECSS '@chris1278_cookie/cookie.css' %}
{% INCLUDECSS '@chris1278_cookie/cookie_icon.css' %}
{# This must bei using for the Youtube and youtube_be bbcode #}
{% if YOUTUBE_BBCODE_SWITCH %}
{% INCLUDECSS '@chris1278_cookie/youtube_bbcode_switch_on.css' %}
{% else %}
{% INCLUDECSS '@chris1278_cookie/youtube_bbcode_switch_of.css' %}
{% endif %}
{# This must bei using for the vimeo bbcode #}
{% if VIMEO_BBCODE_SWITCH %}
{% INCLUDECSS '@chris1278_cookie/vimeo_bbcode_switch_on.css' %}
{% else %}
{% INCLUDECSS '@chris1278_cookie/vimeo_bbcode_switch_of.css' %}
{% endif %}
{% if SPOTIFY_BBCODE_SWITCH %}
{% INCLUDECSS '@chris1278_cookie/spotify_bbcode_switch_on.css' %}
{% else %}
{% INCLUDECSS '@chris1278_cookie/spotify_bbcode_switch_of.css' %}
{% endif %}

{% if GOOGLE_WEBFONT_SWITCH %}
<script type="opt-in" data-type="application/javascript" data-name="googlewebfont">
	WebFontConfig = {
		google: {
			families: ['Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://cdn.jsdelivr.net/npm/webfontloader@1.6.28/webfontloader.min.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
{% endif %}

{% if GOOGLE_ADSENSE_SWITCH %}
<script async data-name="google_adsense" data-src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-{{ GOOGLE_ADSENSE_PUB_ID }}" 
crossorigin="anonymous"></script>
{% endif %}
