<script>
let saveallbutton = {{ SAVE_ALL_BUTTON == 1 ? 'true' : 'false' }}; 
let windowposition = {{ WINDOW_POSITION == 1 ? 'false' : 'true' }}; 
let klarohiddenwindows = {{ KLARO_HIDDEN_WINDOWS == 1 ? 'false' : 'true' }};
let tothecookiesettings = {{ TO_THE_COOKIE_SETTINGS	== 1 ? 'false' : 'true' }};
let windowfixinthemiddle = {{ WINDOW_FIX_IN_THE_MIDDLE == 1 ? 'true' : 'false' }};
let klaronote = {{ KLARO_NOTE == 1 ? 'false' : 'true' }};
let showdeclinebutton = {{ SHOW_DECLINE_BUTTON == 1 ? 'false' : 'true' }};
let htmlcodeprocessing = {{ HTML_CODE_PROCESSING == 1 ? 'true' : 'false' }}; 
let groupformation = {{ GROUP_FORMATION == 1 ? 'true' : 'false' }};
let nameofcookie = {{ NAME_OF_COOKIE|json_encode|raw }};
let klarodivcontainer = {{ KLARO_DIV_CONTAINER|json_encode|raw }};
let cookieruntime = {{ COOKIE_RUNTIME|json_encode|raw }};
let cookiedomain = {{ COOKIE_DOMAIN|json_encode|raw }};
let storageversion = {{ STORAGE_VERSION|json_encode|raw }};
</script>
