<script>
let saveallbutton = {{ SAVE_ALL_BUTTON == 1 ? 'true' : 'false' }}; 
let windowposition = {{ WINDOW_POSITION == 1 ? 'false' : 'true' }}; 
let klarohiddenwindows = {{ KLARO_HIDDEN_WINDOWS == 1 ? 'false' : 'true' }};
let tothecookiesettings = {{ TO_THE_COOKIE_SETTINGS	== 1 ? 'false' : 'true' }};
let windowfixinthemiddle = {{ WINDOW_FIX_IN_THE_MIDDLE == 1 ? 'true' : 'false' }};
let klaronote = {{ KLARO_NOTE == 1 ? 'false' : 'true' }};
let showdeclinebutton = {{ SHOW_DECLINE_BUTTON == 1 ? 'false' : 'true' }};
let htmlcodeprocessing = {{ HTML_CODE_PROCESSING == 1 ? 'true' : 'false' }}; 
let groupformation = {{ GROUP_FORMATION == 1 ? 'true' : 'false' }};
let nameofcookie = {{ NAME_OF_COOKIE|json_encode|raw }};
let klarodivcontainer = {{ KLARO_DIV_CONTAINER|json_encode|raw }};
let cookieruntime = {{ COOKIE_RUNTIME|json_encode|raw }};
let cookiedomain = {{ COOKIE_DOMAIN|json_encode|raw }};
let storageversion = {{ STORAGE_VERSION|json_encode|raw }};
let google_webfont_switch = {{ GOOGLE_WEBFONT_SWITCH == 0 ? 'false' : 'true' }};
let google_adsense_switch = {{ GOOGLE_ADSENSE_SWITCH == 0 ? 'false' : 'true' }};
let google_maps_switch = {{ GOOGLE_MAPS_SWITCH == 0 ? 'false' : 'true' }};
let youtube_bbcode_switch = {{ YOUTUBE_BBCODE_SWITCH == 0 ? 'false' : 'true' }}; 
let vimeo_bbcode_switch = {{ VIMEO_BBCODE_SWITCH == 0 ? 'false' : 'true' }}; 
let spotify_bbcode_switch = {{ SPOTIFY_BBCODE_SWITCH == 0 ? 'false' : 'true' }}; 
let google_translator_switch = {{ GOOGLE_TRANSLATOR_SWITCH == 0 ? 'false' : 'true' }}; 
let google_analytics_no_tm_switch = {{ GOOGLE_ANALYTICS_NO_TM_SWITCH == 0 ? 'false' : 'true' }};
let matomo_switch = {{ MATOMO_SWITCH == 0 ? 'false' : 'true' }};
let cookie_icon_selection = {{ COOKIE_ICON_SELECTION|json_encode|raw }};
let new_line = {{ NEW_LINE|json_encode|raw }};
let data_name_googleanalytics = {{ DATA_NAME_GOOGLEANALYTICS|json_encode|raw }};
let data_name_matomo = {{ DATA_NAME_MATOMO|json_encode|raw }};
let data_name_googlewebfont = {{ DATA_NAME_GOOGLEWEBFONT|json_encode|raw }};
let data_name_googleadsense = {{ DATA_NAME_GOOGLEADSENSE|json_encode|raw }};
let data_name_googletranslate = {{ DATA_NAME_GOOGLETRANSLATE|json_encode|raw }};
let data_name_googlemaps = {{ DATA_NAME_GOOGLEMAPS|json_encode|raw }};
let klarostylecolor = {{ STYLE_COLOR|json_encode|raw }};
let klarostyleposition1 = {{ STYLE_POSITION_1|json_encode|raw }};
let klarostyleposition2 = {{ STYLE_POSITION_2|json_encode|raw }};
let klarostylewidth = {{ STYLE_WIDTH|json_encode|raw }};
const all_accept = '{{ lang('ALL_ACCEPT')|escape("js") }}';
const accept = '{{ lang('ACCEPT')|escape("js") }}';
const accept_selected = '{{ lang('ACCEPT_SELECTED')|escape("js") }}';
const decline = '{{ lang('DECLINE')|escape("js") }}';
const save = '{{ lang('SAVE')|escape("js") }}';
const close = '{{ lang('CLOSE')|escape("js") }}';
const powerd_by = '{{ lang('POWERD_BY')|escape("js") }}';
const first_infos = '{{ lang('FIRST_INFOS')|escape("js") }}';
const the_cookie_settings = '{{ lang('THE_COOKIE_SETTTINGS')|escape("js") }}';
const all_switch_explain = '{{ lang('ALL_SWITCH_EXPLAIN')|escape("js") }}';
const all_switch = '{{ lang('ALL_SWITCH')|escape("js") }}';
const optout_info = '{{ lang('OPTOUT_INFO')|escape("js") }}';
const klaro_purpose = '{{ lang('KLARO_PURPOSE')|escape("js") }}';
const klaro_purposes = '{{ lang('KLARO_PURPOSES')|escape("js") }}';
const allways_required_service = '{{ lang('ALWAYS_REQUIRED_SERVICE')|escape("js") }}';
const allways_required = '{{ lang('ALWAYS_REQUIRED')|escape("js") }}';
const klaro_service = '{{ lang('KLARO_SERVICE')|escape("js") }}';
const klaro_services = '{{ lang('KLARO_SERVICES')|escape("js") }}';
const settings_for_cookie = '{{ lang('SETTINGS_FOR_COOKIE')|escape("js") }}';
const second_infos = '{{ COOKIE|escape("js") }}';
const cookies_must_have = '{{ lang('COOKIES_MUST_HAVE')|escape("js") }}';
const technical_cookies = '{{ lang('TECHNICAL_COOKIES')|escape("js") }}';
const extern_cookies_explain = '{{ lang('EXTERN_COOKIES_EXPLAIN')|escape("js") }}';
const extern_cookies = '{{ lang('EXTERN_COOKIES')|escape("js") }}';
const new_changes = '{{ lang('NEW_CHANGES')|escape("js") }}';
const tools = '{{ lang('TOOLS')|escape("js") }}';
const tools_cookies = '{{ lang('TOOLS_COOKIES')|escape("js") }}';
const another_ext = '{{ lang('ANOTHER_EXT')|escape("js") }}';
const another_ext_explain = '{{ lang('ANOTHER_EXT_EXPLAIN')|escape("js") }}';
const extra_services  = '{{ lang('EXTRA_SERVICE')|escape("js") }}';
const extra_services_explain  = '{{ lang('EXTRA_SERVICE_EXPLAIN')|escape("js") }}';
const load_external_content = '{{ lang('LOAD_EXTERNAL_CONTENT')|escape("js") }}';
const allow_once = '{{ lang('ALLOW_ONCE')|escape("js") }}';
const permit_permanently = '{{ lang('PERMIT_PERMANENTLY')|escape("js") }}';
const cs_techcookie = '{{ lang('CS_TECH_COOKIE')|escape("js") }}';
const ds_techcookie = '{{ DS_SEC_TECH_COOKIE|escape("js") }}';
const cs_klarocookie = '{{ lang('CS_KLARO_COOKIE')|escape("js") }}';
const ds_klarocookie = '{{ DS_SEC_KLARO_COOKIE|escape("js") }}';
const cs_youtube = '{{ lang('CS_YOUTUBE')|escape("js") }}';
const ds_youtube = '{{ lang('DS_YOUTUBE')|escape("js") }}';
const cs_matomo = '{{ lang('CS_MATOMO')|escape("js") }}';
const ds_matomo = '{{ SEC_MATOMO_DESCRIPTION|escape("js") }}';
const matomo_url = '{{ MATOMO_URL|escape("js") }}';
const cs_vimeo = '{{ lang('CS_VIMEO')|escape("js") }}';
const ds_vimeo = '{{ lang('DS_VIMEO')|escape("js") }}';
const cs_spotify = '{{ lang('CS_SPOTIFY')|escape("js") }}';
const ds_spotify = '{{ lang('DS_SPOTIFY')|escape("js") }}';
const cs_google_translator = '{{ lang('CS_GOOGLE_TRANSLATOR')|escape("js") }}';
const ds_google_translator = '{{ lang('DS_GOOGLE_TRANSLATOR')|escape("js") }}';
const cs_google_analytics = '{{ lang('CS_GOOGLE_ANALYTICS')|escape("js") }}';
const ds_google_analytics_no_tm = '{{ lang('DS_GOOGLE_ANALYTICS_NO_TM')|escape("js") }}';
const google_analytics_id = '{{ GOOGLE_ANALYTICS_ID|escape("js") }}';
const cs_google_webfont_switch = '{{ lang('CS_GOOGLE_WEBFONT')|escape("js") }}';
const ds_google_webfont_switch = '{{ lang('DS_GOOGLE_WEBFONT')|escape("js") }}';
const cs_google_adsense_switch = '{{ lang('CS_GOOGLE_ADSENSE')|escape("js") }}';
const ds_google_adsense_switch = '{{ lang('DS_GOOGLE_ADSENSE')|escape("js") }}';
const cs_google_maps_switch = '{{ lang('CS_GOOGLE_MAPS')|escape("js") }}';
const ds_google_maps_switch = '{{ lang('DS_GOOGLE_MAPS')|escape("js") }}';
</script>
