<script>
let praefix;
let a1;
let a2;
let a3;
let a4;
let a5;
let pb;
let d1;
let zc;
let d2;
let t1;
let o1;
let p1;
let p2;
let d3;
let t2;
let s1;
let s2;
let t3;
let d4;
let d5;
let t4;
let d6;
let t5;

praefix = "";
a1 = praefix + {{ lang('A1')|json_encode|raw }};
a2 = praefix + {{ lang('A2')|json_encode|raw }};
a3 = praefix + {{ lang('A3')|json_encode|raw }};
a4 = praefix + {{ lang('A4')|json_encode|raw }};
a5 = praefix + {{ lang('A5')|json_encode|raw }};
pb = praefix + {{ lang('PB')|json_encode|raw }};
d1 = praefix + {{ lang('D1')|json_encode|raw }};
zc = praefix + {{ lang('ZC')|json_encode|raw }};
d2 = praefix + {{ lang('D2')|json_encode|raw }};
t1 = praefix + {{ lang('T1')|json_encode|raw }};
o1 = praefix + {{ lang('O1')|json_encode|raw }};
p1 = praefix + {{ lang('P1')|json_encode|raw }};
p2 = praefix + {{ lang('P2')|json_encode|raw }};
d3 = praefix + {{ lang('D3')|json_encode|raw }};
t2 = praefix + {{ lang('T2')|json_encode|raw }};
s1 = praefix + {{ lang('S1')|json_encode|raw }};
s2 = praefix + {{ lang('S2')|json_encode|raw }};
t3 = praefix + {{ lang('T3')|json_encode|raw }};
d4 = praefix + {{ COOKIE|json_encode|raw }};
d5 = praefix + {{ lang('D5')|json_encode|raw }};
t4 = praefix + {{ lang('T4')|json_encode|raw }};
d6 = praefix + {{ lang('D6')|json_encode|raw }};
t5 = praefix + {{ lang('T5')|json_encode|raw }};
</script>