<script>
let all_accept = {{ lang('ALL_ACCEPT')|json_encode|raw }};
let accept = {{ lang('ACCEPT')|json_encode|raw }};
let accept_selected = {{ lang('ACCEPT_SELECTED')|json_encode|raw }};
let decline = {{ lang('DECLINE')|json_encode|raw }};
let save = {{ lang('SAVE')|json_encode|raw }};
let close = {{ lang('CLOSE')|json_encode|raw }};
let powerd_by = {{ lang('POWERD_BY')|json_encode|raw }};
let first_infos = {{ lang('FIRST_INFOS')|json_encode|raw }};
let the_cookie_settings = {{ lang('THE_COOKIE_SETTTINGS')|json_encode|raw }};
let all_switch_explain = {{ lang('ALL_SWITCH_EXPLAIN')|json_encode|raw }};
let all_switch = {{ lang('ALL_SWITCH')|json_encode|raw }};
let optout_info = {{ lang('OPTOUT_INFO')|json_encode|raw }};
let klaro_purpose = {{ lang('KLARO_PURPOSE')|json_encode|raw }};
let klaro_purposes = {{ lang('KLARO_PURPOSES')|json_encode|raw }};
let allways_required_service = {{ lang('ALWAYS_REQUIRED_SERVICE')|json_encode|raw }};
let allways_required = {{ lang('ALWAYS_REQUIRED')|json_encode|raw }};
let klaro_service = {{ lang('KLARO_SERVICE')|json_encode|raw }};
let klaro_services = {{ lang('KLARO_SERVICES')|json_encode|raw }};
let settings_for_cookie = {{ lang('SETTINGS_FOR_COOKIE')|json_encode|raw }};
let second_infos = {{ COOKIE|json_encode|raw }};
let cookies_must_have = {{ lang('COOKIES_MUST_HAVE')|json_encode|raw }};
let technical_cookies = {{ lang('TECHNICAL_COOKIES')|json_encode|raw }};
let extern_cookies_explain = {{ lang('EXTERN_COOKIES_EXPLAIN')|json_encode|raw }};
let extern_cookies = {{ lang('EXTERN_COOKIES')|json_encode|raw }};
let new_changes = {{ lang('NEW_CHANGES')|json_encode|raw }};
let tools = {{ lang('TOOLS')|json_encode|raw }};
let tools_cookies = {{ lang('TOOLS_COOKIES')|json_encode|raw }};
let load_external_content = {{ lang('LOAD_EXTERNAL_CONTENT')|json_encode|raw }};
let allow_once = {{ lang('ALLOW_ONCE')|json_encode|raw }};
let permit_permanently = {{ lang('PERMIT_PERMANENTLY')|json_encode|raw }};
let youtube_bbcode_switch = {{ YOUTUBE_BBCODE_SWITCH|json_encode|raw }};
let google_translator_switch = {{ GOOGLE_TRANSLATOR_SWITCH|json_encode|raw }};
let google_analytics_no_tm_switch = {{ GOOGLE_ANALYTICS_NO_TM_SWITCH|json_encode|raw }};
let google_analytics_id = {{ GOOGLE_ANALYTICS_ID|json_encode|raw }};
</script>